@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav {
 @apply relative ml-2 pb-1 text-gray-900 font-mono font-bold tracking-[1px]
}
.nav::after {
  @apply content-[''] bg-[#68b854] h-[3px] w-[0%] left-0 bottom-[5px] rounded-xl absolute duration-500
}
.nav:hover::after {
  @apply w-[100%]
}

.skil-border {
  display: flex;
  justify-content:center;
  text-align: center;
  align-items: center;
  border-width: 4px;
  margin: 2px;
  padding: 10px;
  height: 40px;
  background-color: aquamarine;
  font-family: sans-serif;
  font-weight: 600;
}