@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.nav {
 @apply relative ml-2 pb-1 text-gray-900 font-mono font-bold tracking-[1px]
}
.nav::after {
  @apply content-[''] bg-[#68b854] h-[3px] w-[0%] left-0 bottom-[5px] rounded-xl absolute duration-500
}
.nav:hover::after {
  @apply w-[100%]
}
.active::after {
  content: '';
  background-color: #68b854;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -5px;
  left: 0;
  border-radius: 0.25rem;
  transition: width 0.5s ease;
}

.home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.skil-border {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-width: 4px;
  margin: 3px;
  padding: 10px;
  height: 40px;
  background-color: aquamarine;
  font-family: sans-serif;
  font-weight: 600;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.skil-border:hover {
  transform: scale(1.1); /* Untuk memperbesar komponen saat dihover */
}

.border-btt{
  /* border-width: 2px; */
  border-bottom-width: 4px;
  font-weight: bold;
  border-color: black;
}
.content-contact{
  background-color: #baf1ac;
  height: 60vh;
}
.content-contacts{
  height: 85vh;
  background-color: #baf1ac;
}
.content-about{
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.about-page{
  height: 83vh;
  background-color: #baf1ac;
}

.border-content-about{
  width: 104vh;
  padding-left: 10px;
}
.cts{
  height: auto;
  background-color: #baf1ac;
}
.footer {
  display: flex;
  justify-content:center;
  height: 60px;
  background-color: rgba(149, 200, 136, 0.705);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  transform: translateY(20px);
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
.border-port{
  text-align: center;
  margin-right: 5px;
  width: auto;
  min-width: 110px;
  height: 40px;
  background-color: #52e192;
  border-width: 3px;
  border-radius: 18px;
  border-color: rgb(36, 185, 88);
  font-family: sans-serif;
  font-weight: 600;
}
.active {
  background-color: rgb(198, 239, 155); 
  border-color: rgb(33, 160, 78);

}

.active::after {
  opacity: 0;
}
.border-ports{
  text-align: center;
  width: auto;
  min-width: 110px;
  height: 40px;
  font-family: sans-serif;
  font-weight: 600;
}
.menu-port{
  margin-left: 75px;
}
.menus-port{
  display: grid;
  grid-template-columns:  repeat(auto-fill, 115px );
}
.card{
  width: 370px;
  height: 350px;

  border-radius: 20px;
  margin-top: 20px;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.grid-portofolio{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.grid-portofolio-full{
  display: grid;
  justify-content:center;
  grid-template-columns: repeat(auto-fill, 378px );
}
.card-modal{
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 370px;
  height: 430px;
  /* background-color: #fd55d0; */
  border-radius: 20px;
  border-width: 1px;
  border-color: #000000;
  margin-top: 20px;
  cursor: pointer;
}
.card-bottom-modal{
  display: flex;
  margin-top: 37px;
  padding: 10px 15px 10px 20px;
  width: 100%;
  height: 150px;
  background-color: #FCFFFE;
  border-radius: 0 0 17px 17px;
}
.card:hover {
  transform: scale(1.05);
}
.card-top{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 240px;
  
  border-radius: 17px 17px 0 0;
}
.card-bottom{
  display: flex;
  justify-content:center;
  padding: 0 20px 15px 25px;
  width: 100%;
  height: auto;
  background-color: #FCFFFE;
  border-radius: 0 0 17px 17px;
}
.card-item-bottom{
  width: 100%;
}
.border-item-card{
  font-family:sans-serif;
  font-weight: 600;
  width: auto;
  padding-left: 8px;
  padding-right: 8px;
  height: 30px;
  background-color: #baf1ac;
  border-radius: 7px;
  border-width: 0.1px;
  border-color: rgb(201, 182, 114);
}
.contact-location{
  margin-top: -70px;
  margin-left: 90px;
}
.contact-title{
  display: flex;
  flex-direction: column;
  margin-left: 300px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  width: 70px;
  height: 180px;
  background-color: #d0f0c8;
  border-width: 2px;
  border-color: rgb(50, 158, 72);
}
.img-icon-contact{
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease;
}

.img-icon-contact:hover {
  transform: scale(1.1); /* Untuk memperbesar komponen saat dihover */
}

.contact-link{
  width: auto;
  margin-left: 35px;
}
.direction-contact{
  width: 90%;
  display: flex;
  flex-direction: row;

}
.container-contact{
  margin-left: 90px;
}
@media (max-width: 1350px) {
  .card {
    width: 360px;
    height: 350px;
  }
  .grid-portofolio{
    display: grid;
    justify-content:space-around;
    grid-template-columns: repeat(auto-fill, 360px );
  }
  .menu-port{
    margin-left: 40px;
  }
  .contact-title{
    margin-left: 40px;
  }
  
  
}
@media (max-width: 1100px) {
  .menu-port{
    margin-left: 10px;
  }
  .contact-title{
    margin-left: 10px;
  }
}
@media (max-width: 960px) {
  .menu-port{
    margin-left: 5px;
    
    
  }
  .card {
    width: 340px;
    height: 350px;
  }
  .contact-title{

    width: 80px;

  }
@media (max-width: 900px){
  .contact-title{
    position: absolute;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    width: 180px;
    height: 60px;
    margin-top: 170px;
    margin-left: -40px;
    background-color: #00000000;
    border-width: 0;
  }
  .card{
    margin-left: 10px;
  }
  .img-icon-contact{
    width: 30px;
    height: 30px;
    margin: 2px;
  }
  .contact-title a:nth-child(3) .img-icon-contact{
    width: 30px;
    height: 30px;
    margin-top: 5px;
    
  }
  .contact-location{
    margin-top: -2px;

  }
}
@media (max-width: 850px) {
  .content-about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .border-content-about{
    width: auto;
  }
  .skil-content{
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    width: 100%;
  }
  .skil-border-content{
    width: auto;
    grid-template-columns: repeat(auto-fill, 120px );
  }
} 
@media (max-width: 730px){
  .content-contact{
    background-color: #baf1ac;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .container-contact{
    margin: 15px;

  }
  .direction-contact{
    width: 90%;
    display: flex;
    flex-direction: column;
  
  }
  .text-contact{
    margin-left: 20px;
    margin-bottom: -20px;
    margin-top: -160px;
  }
  .contact-links{
    display: flex;
    flex-direction: column;
  }
  .contact-location{
    margin-left: 20px;
  }
  .contact-link{
    margin-top: -15px;
    margin-bottom: 10px;
    margin-left: 1px;
    display: flex;
    flex-direction: column;
  }
  .contact-title{

    margin-top: 280px;
    
  }
}
@media (max-width: 650px){
  .home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home-content{
    margin-top: -120px;
  }
  .img-content{
    margin-top: 30px;
  }

}
@media (max-width: 600px){
  .contact-title{
    margin-top: 300px;
    margin-left: -38px;
  }
  .card{
    width: 330px;
    height: 330px;
    min-width: 200px;
    max-width: 370px;
    border-radius: 20px;
    margin-top: 20px;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .border-port{
    font-size: 13px;
    text-align: center;
    width: 60px;
    height: 30px;
    background-color: #52e192;
    margin-top: 6px;
    border-width: 3px;
    border-radius: 18px;
    border-color: rgb(36, 185, 88);
    font-family: sans-serif;
    font-weight: 600;
  }
  .active {
    background-color: rgb(198, 239, 155); 
    border-color: rgb(33, 160, 78);
  
  }
  
  .active::after {
    opacity: 0;
  }
  .border-ports{
    font-size: 15px;
    text-align: center;
    width: auto;
    height: 40px;
    font-family: sans-serif;
    font-weight: 600;
  }
  
  .menus-port{
    display: grid;
    grid-template-columns:  repeat(auto-fill, 115px );
  }
}
@media (max-width: 500px){
  .menu-port{
    display: flex;
    flex-direction: column;
  }
  .menus-port{
    justify-content: center;
    margin-left: -5px;
  }
  .border-ports{
    justify-content:center;
   
  }
}
@media (max-width: 450px){
  .contact-title{
    margin-top: 330px;
    margin-left: -38px;
  }
}
}
